<h1 class="text-center font-bold py-2 text-gray-700">Can't log in?</h1>
<div *ngIf="emailSent">
  <div class="flex justify-center py-4">
    <img
      loading="lazy"
      class="w-40"
      src="/assets/svg/check-email.svg"
      alt="logo"
    />
  </div>
  <p>We sent a recovery link to you at</p>
  <p class="font-bold">{{form.controls.email.value}}</p>
</div>
<form *ngIf="!emailSent" [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="sendLink()">
  <div>
    <div class="relative">
      <label for="email" class="block text-xs font-semibold my-2">We'll send a recovery link to</label>
      <input
        #nameInput
        formControlName="email"
        placeholder="Enter email"
        type="email"
        name="email"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <p
        *ngIf="form.controls.email.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.email.hasError('email')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field should be a email
      </p>
    </div>
  </div>
  <div>
    <app-btn
      typeBtn="submit"
      color="success"
      [loading]="status === 'loading'"
      >Send Recovery Link</app-btn
    >
  </div>
</form>
