<h1 class="text-center font-bold py-2 text-gray-700">Enter your data</h1>
<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="register()">
  <div>
    <div class="relative">
      <input
        formControlName="name"
        placeholder="Enter your name"
        type="text"
        name="name"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
    </div>
    <div *ngIf="form.controls.name.touched && form.controls.name.invalid">
      <p
        *ngIf="form.controls.name.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
    </div>
  </div>
  <div>
    <div class="relative">
      <input
        #nameInput
        formControlName="email"
        placeholder="Enter email"
        type="email"
        name="email"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <p
        *ngIf="form.controls.email.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.email.hasError('email')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field should be a email
      </p>
    </div>
  </div>
  <div>
    <div class="relative">
      <input
        formControlName="password"
        placeholder="Enter password"
        [type]="showPassword ? 'text' : 'password'"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
      <button
        type="button"
        class="p-2 absolute right-2"
        (click)="showPassword = !showPassword"
      >
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    <div
      *ngIf="form.controls.password.touched && form.controls.password.invalid"
    >
      <p
        *ngIf="form.controls.password.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.password.hasError('minlength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field should be greater than 6 characters
      </p>
    </div>
  </div>
  <div>
    <div class="relative">
      <input
        formControlName="confirmPassword"
        placeholder="Confirm password"
        type="password"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
    </div>
    <div
      *ngIf="
        form.controls.confirmPassword.touched &&
        form.controls.confirmPassword.invalid
      "
    >
      <p
        *ngIf="form.controls.confirmPassword.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.confirmPassword.hasError('minlength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field should be greater than 6 characters
      </p>
    </div>
  </div>
  <div *ngIf="form.controls.confirmPassword.touched">
    <p
      *ngIf="form.hasError('mismatch')"
      class="font-medium text-red-500 text-xs mt-1 ml-1"
    >
      The password are not the same
    </p>
  </div>
  <div>
    <app-btn typeBtn="submit" color="success" [loading]="status === 'loading'"
      >Register</app-btn
    >
  </div>
</form>
